<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель адміністратора</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/action_css.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet" type="text/css"
</head>
<body>

<h1 class="textc"> Панель головного адміністратора </h1>

<div class="btn-group">

    <form class="one" method="post">
        <input type="hidden" name="form_id" value="one">
        <button type="submit" formmethod="post">Управління аккаунтами адміністраторів</button>
    </form>

    <form class="one" method="post">
        <input type="hidden" name="form_id" value="two">
        <button type="submit" formmethod="post">Переглянути базу даних результатів</button>
    </form>

    <form class="one" method="post">
        <input type="hidden" name="form_id" value="three">
        <button type="submit" formmethod="post">Переглянути базу даних відповідей</button>
    </form>


    <form class="keep" method="post">
        <input type="hidden" name="form_id" value="foo">
        <button type="submit" formmethod="post">Вихід</button>
    </form>


</div>
</body>
</html>