<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel= "stylesheet" type= "text/css" href= "/static/css/style_bdanswer.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
<form method="post">
    <input type="hidden" name="form_id" value="goback"/>
    <button class="submit2" formmethod="post"> << Повернутись до панелі адміністратора</button>
</form>

<h2 class="ht"> База даних відповідей </h2>

<!--  <div class="imgcontainer">-->
<!--    <img src="/static/images/3.jpg" alt="Avatar" class="avatar">-->
<!--  </div>-->

<br>
<br><br>


<table class="table_blur">
    <tr>
        <th>ID</th>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По-батькові</th>
        <th>Дата народження</th>
        <th>Додаткова інформація</th>
        <th>Учасник ООС</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>24</th>
        <th>25</th>
        <th>26</th>
        <th>27</th>
        <th>28</th>
        <th>29</th>
        <th>30</th>
        <th>31</th>
        <th>32</th>
        <th>33</th>
        <th>34</th>
        <th>35</th>
        <th>36</th>
        <th>37</th>
        <th>38</th>
        <th>39</th>
        <th>40</th>
        <th>41</th>
        <th>42</th>
        <th>43</th>
        <th>44</th>
        <th>45</th>
        <th>46</th>
        <th>47</th>
        <th>48</th>
        <th>49</th>
        <th>50</th>
        <th>51</th>
        <th>52</th>
        <th>53</th>
        <th>54</th>
        <th>55</th>
        <th>56</th>
        <th>57</th>
        <th>58</th>
        <th>59</th>
        <th>60</th>
        <th>61</th>
        <th>62</th>
        <th>63</th>
        <th>64</th>
        <th>65</th>
        <th>66</th>
        <th>67</th>
        <th>68</th>
        <th>69</th>
        <th>70</th>
        <th>71</th>
        <th>72</th>
        <th>73</th>
        <th>74</th>
        <th>75</th>
        <th>76</th>
        <th>77</th>
        <th>78</th>
        <th>79</th>
        <th>80</th>
        <th>81</th>
        <th>82</th>
        <th>83</th>
        <th>84</th>
        <th>85</th>
        <th>86</th>
        <th>87</th>
        <th>88</th>
        <th>89</th>
        <th>90</th>
        <th>91</th>
        <th>92</th>
        <th>93</th>
        <th>94</th>
        <th>95</th>
        <th>96</th>
        <th>97</th>
        <th>98</th>
        <th>99</th>
        <th>100</th>

        <th>101</th>
        <th>102</th>
        <th>103</th>
        <th>104</th>
        <th>105</th>
        <th>106</th>
        <th>107</th>
        <th>108</th>
        <th>109</th>
        <th>110</th>
        <th>111</th>
        <th>112</th>
        <th>113</th>
        <th>114</th>
        <th>115</th>
        <th>116</th>
        <th>117</th>
        <th>118</th>
        <th>119</th>
        <th>120</th>
        <th>121</th>
        <th>122</th>
        <th>123</th>
        <th>124</th>
        <th>125</th>
        <th>126</th>
        <th>127</th>
        <th>128</th>
        <th>129</th>
        <th>130</th>
        <th>131</th>
        <th>132</th>
        <th>133</th>
        <th>134</th>
        <th>135</th>
        <th>136</th>
        <th>137</th>
        <th>138</th>
        <th>139</th>
        <th>140</th>
        <th>141</th>
        <th>142</th>
        <th>143</th>
        <th>144</th>
        <th>145</th>
        <th>146</th>
        <th>147</th>
        <th>148</th>
        <th>149</th>
        <th>150</th>
        <th>151</th>
        <th>152</th>
        <th>153</th>
        <th>154</th>
        <th>155</th>
        <th>156</th>
        <th>157</th>
        <th>158</th>
        <th>159</th>
        <th>160</th>
        <th>161</th>
        <th>162</th>
        <th>163</th>
        <th>164</th>
        <th>165</th>
        <th>166</th>
        <th>167</th>
        <th>168</th>
        <th>169</th>
        <th>170</th>
        <th>171</th>
        <th>172</th>
        <th>173</th>
        <th>174</th>
        <th>175</th>
        <th>176</th>
        <th>177</th>
        <th>178</th>
        <th>179</th>
        <th>180</th>
        <th>181</th>
        <th>182</th>
        <th>183</th>
        <th>184</th>
        <th>185</th>
        <th>186</th>
        <th>187</th>
        <th>188</th>
        <th>189</th>
        <th>190</th>
        <th>191</th>
        <th>192</th>
        <th>193</th>
        <th>194</th>
        <th>195</th>
        <th>196</th>
        <th>197</th>
        <th>198</th>
        <th>199</th>
        <th>200</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{item['ID']}}</td>
        <td>{{item['ssurname']}}</td>
        <td>{{item['sname']}}</a></td>
        <td>{{item['secname']}}</td>
        <td>{{item['bdate']}}</td>
        <td>{{item['descr']}}</td>
        <td>{{item['ooc']}}</td>
        <td>{{item['_1']}}</td>
        <td>{{item['_2']}}</td>
        <td>{{item['_3']}}</td>
        <td>{{item['_4']}}</td>
        <td>{{item['_5']}}</td>
        <td>{{item['_6']}}</td>
        <td>{{item['_7']}}</td>
        <td>{{item['_8']}}</td>
        <td>{{item['_9']}}</td>
        <td>{{item['_10']}}</td>
        <td>{{item['_11']}}</td>
        <td>{{item['_12']}}</td>
        <td>{{item['_13']}}</td>
        <td>{{item['_14']}}</td>
        <td>{{item['_15']}}</td>
        <td>{{item['_16']}}</td>
        <td>{{item['_17']}}</td>
        <td>{{item['_18']}}</td>
        <td>{{item['_19']}}</td>
        <td>{{item['_20']}}</td>
        <td>{{item['_21']}}</td>
        <td>{{item['_22']}}</td>
        <td>{{item['_23']}}</td>
        <td>{{item['_24']}}</td>
        <td>{{item['_25']}}</td>
        <td>{{item['_26']}}</td>
        <td>{{item['_27']}}</td>
        <td>{{item['_28']}}</td>
        <td>{{item['_29']}}</td>
        <td>{{item['_30']}}</td>
        <td>{{item['_31']}}</td>
        <td>{{item['_32']}}</td>
        <td>{{item['_33']}}</td>
        <td>{{item['_34']}}</td>
        <td>{{item['_35']}}</td>
        <td>{{item['_36']}}</td>
        <td>{{item['_37']}}</td>
        <td>{{item['_38']}}</td>
        <td>{{item['_39']}}</td>
        <td>{{item['_40']}}</td>
        <td>{{item['_41']}}</td>
        <td>{{item['_42']}}</td>
        <td>{{item['_43']}}</td>
        <td>{{item['_44']}}</td>
        <td>{{item['_45']}}</td>
        <td>{{item['_46']}}</td>
        <td>{{item['_47']}}</td>
        <td>{{item['_48']}}</td>
        <td>{{item['_49']}}</td>
        <td>{{item['_50']}}</td>
        <td>{{item['_51']}}</td>
        <td>{{item['_52']}}</td>
        <td>{{item['_53']}}</td>
        <td>{{item['_54']}}</td>
        <td>{{item['_55']}}</td>
        <td>{{item['_56']}}</td>
        <td>{{item['_57']}}</td>
        <td>{{item['_58']}}</td>
        <td>{{item['_59']}}</td>
        <td>{{item['_60']}}</td>
        <td>{{item['_61']}}</td>
        <td>{{item['_62']}}</td>
        <td>{{item['_63']}}</td>
        <td>{{item['_64']}}</td>
        <td>{{item['_65']}}</td>
        <td>{{item['_66']}}</td>
        <td>{{item['_67']}}</td>
        <td>{{item['_68']}}</td>
        <td>{{item['_69']}}</td>
        <td>{{item['_70']}}</td>
        <td>{{item['_71']}}</td>
        <td>{{item['_72']}}</td>
        <td>{{item['_73']}}</td>
        <td>{{item['_74']}}</td>
        <td>{{item['_75']}}</td>
        <td>{{item['_76']}}</td>
        <td>{{item['_77']}}</td>
        <td>{{item['_78']}}</td>
        <td>{{item['_79']}}</td>
        <td>{{item['_80']}}</td>
        <td>{{item['_81']}}</td>
        <td>{{item['_82']}}</td>
        <td>{{item['_83']}}</td>
        <td>{{item['_84']}}</td>
        <td>{{item['_85']}}</td>
        <td>{{item['_86']}}</td>
        <td>{{item['_87']}}</td>
        <td>{{item['_88']}}</td>
        <td>{{item['_89']}}</td>
        <td>{{item['_90']}}</td>
        <td>{{item['_91']}}</td>
        <td>{{item['_92']}}</td>
        <td>{{item['_93']}}</td>
        <td>{{item['_94']}}</td>
        <td>{{item['_95']}}</td>
        <td>{{item['_96']}}</td>
        <td>{{item['_97']}}</td>
        <td>{{item['_98']}}</td>
        <td>{{item['_99']}}</td>
        <td>{{item['_100']}}</td>
        <td>{{item['_101']}}</td>
        <td>{{item['_102']}}</td>
        <td>{{item['_103']}}</td>
        <td>{{item['_104']}}</td>
        <td>{{item['_105']}}</td>
        <td>{{item['_106']}}</td>
        <td>{{item['_107']}}</td>
        <td>{{item['_108']}}</td>
        <td>{{item['_109']}}</td>
        <td>{{item['_110']}}</td>
        <td>{{item['_111']}}</td>
        <td>{{item['_112']}}</td>
        <td>{{item['_113']}}</td>
        <td>{{item['_114']}}</td>
        <td>{{item['_115']}}</td>
        <td>{{item['_116']}}</td>
        <td>{{item['_117']}}</td>
        <td>{{item['_118']}}</td>
        <td>{{item['_119']}}</td>
        <td>{{item['_120']}}</td>
        <td>{{item['_121']}}</td>
        <td>{{item['_122']}}</td>
        <td>{{item['_123']}}</td>
        <td>{{item['_124']}}</td>
        <td>{{item['_125']}}</td>
        <td>{{item['_126']}}</td>
        <td>{{item['_127']}}</td>
        <td>{{item['_128']}}</td>
        <td>{{item['_129']}}</td>
        <td>{{item['_130']}}</td>
        <td>{{item['_131']}}</td>
        <td>{{item['_132']}}</td>
        <td>{{item['_133']}}</td>
        <td>{{item['_134']}}</td>
        <td>{{item['_135']}}</td>
        <td>{{item['_136']}}</td>
        <td>{{item['_137']}}</td>
        <td>{{item['_138']}}</td>
        <td>{{item['_139']}}</td>
        <td>{{item['_140']}}</td>
        <td>{{item['_141']}}</td>
        <td>{{item['_142']}}</td>
        <td>{{item['_143']}}</td>
        <td>{{item['_144']}}</td>
        <td>{{item['_145']}}</td>
        <td>{{item['_146']}}</td>
        <td>{{item['_147']}}</td>
        <td>{{item['_148']}}</td>
        <td>{{item['_149']}}</td>
        <td>{{item['_150']}}</td>
        <td>{{item['_151']}}</td>
        <td>{{item['_152']}}</td>
        <td>{{item['_153']}}</td>
        <td>{{item['_154']}}</td>
        <td>{{item['_155']}}</td>
        <td>{{item['_156']}}</td>
        <td>{{item['_157']}}</td>
        <td>{{item['_158']}}</td>
        <td>{{item['_159']}}</td>
        <td>{{item['_160']}}</td>
        <td>{{item['_161']}}</td>
        <td>{{item['_162']}}</td>
        <td>{{item['_163']}}</td>
        <td>{{item['_164']}}</td>
        <td>{{item['_165']}}</td>
        <td>{{item['_166']}}</td>
        <td>{{item['_167']}}</td>
        <td>{{item['_168']}}</td>
        <td>{{item['_169']}}</td>
        <td>{{item['_170']}}</td>
        <td>{{item['_171']}}</td>
        <td>{{item['_172']}}</td>
        <td>{{item['_173']}}</td>
        <td>{{item['_174']}}</td>
        <td>{{item['_175']}}</td>
        <td>{{item['_176']}}</td>
        <td>{{item['_177']}}</td>
        <td>{{item['_178']}}</td>
        <td>{{item['_179']}}</td>
        <td>{{item['_180']}}</td>
        <td>{{item['_181']}}</td>
        <td>{{item['_182']}}</td>
        <td>{{item['_183']}}</td>
        <td>{{item['_184']}}</td>
        <td>{{item['_185']}}</td>
        <td>{{item['_186']}}</td>
        <td>{{item['_187']}}</td>
        <td>{{item['_188']}}</td>
        <td>{{item['_189']}}</td>
        <td>{{item['_190']}}</td>
        <td>{{item['_191']}}</td>
        <td>{{item['_192']}}</td>
        <td>{{item['_193']}}</td>
        <td>{{item['_194']}}</td>
        <td>{{item['_195']}}</td>
        <td>{{item['_196']}}</td>
        <td>{{item['_197']}}</td>
        <td>{{item['_198']}}</td>
        <td>{{item['_199']}}</td>
        <td>{{item['_200']}}</td>
    </tr>
    {% endfor %}

</table>

<br>
<br>


</body>
</html>
