<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>МОУ | Адаптивність </title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel= "stylesheet" type= "text/css" href= "/static/css/style2.css">
</head>
<body>


<div class="container3">
    <figure class="imgedit1"><img src="/static/images/mil.png" class="imgedit2"></figure>
    <h1 class="ht"> МІНІСТЕРСТВО ОБОРОНИ УКРАЇНИ </h1>
    <h3 class="ht"> ВІЙСЬКОВИЙ ІНСТИТУТ ТЕЛЕКОМУНІКАЦІЙ ТА ІНФОРМАТИЗАЦІЇ ІМ. ГЕРОЇВ КРУТ </h3>
    <br>
</div>

<div class="joe">
<form class="sds3">
    <input type="hidden" name="form_id" value="one"/>
    <button type="submit" formmethod="post"><div class="textf">Авторизація</div></button>
</form>

<form class="sds3">
        <input type="hidden" name="form_id" value="two"/>
        <button type="submit" formmethod="post"><div class="textf">Перейти до тесту</div></button>
</form>
</div>


</body>
</html>
